html,body,main{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    font-family: 'Arial', sans-serif;
    background-color:#000000;
}

h1{
    color:#ffffff;
    font-size:4.5em;
    color:#ffffff;
    font-family: 'Poiret One', cursive;
}

h2{
    color:#17abe2;
    font-size:2em;
    font-family: 'Poiret One', cursive;
    text-align:center;
}

p{
    font-size:1.2em;
    text-align:left;
}

#accueil{
    height:100%;
    width:100%;
    background-image: url('images/accueil.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#accueil img{
    width:30%;
}

article{
    width:50%;
    color:#000000;
    margin:0 auto;
    background-color:#ffffff;
    margin-top:-10%;
    padding:1% 2% 2% 2%;
}

article img{
    width:70%;
    margin:0 auto;
    display:block;
}

blockquote{
    font-size:1em;
    text-align:center;
}
.guillemet{
    color:#17ABE2;
    font-size:3em;
    margin-left:2%;
    margin-right:2%;
}

footer{
    width:100%;
    margin:0 auto;
    color:#ffffff;
    font-size:0.8em;
}

footer p{
    text-align:center;
}

#info{
    margin-top:-1%;
}